<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589146295987-8rm2p0qvqdng0oqha3qi6plk02gimntl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589146295987-8rm2p0qvqdng0oqha3qi6plk02gimntl</string>
	<key>API_KEY</key>
	<string>AIzaSyBm0SEUCkqThzb9dZ4b06zk4c6XiA7JI7w</string>
	<key>GCM_SENDER_ID</key>
	<string>589146295987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SUNG-JAE-JOO.Korean-history-quiz1</string>
	<key>PROJECT_ID</key>
	<string>korean-history-quiz-100</string>
	<key>STORAGE_BUCKET</key>
	<string>korean-history-quiz-100.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589146295987:ios:5bd0f6d11988f7a3</string>
	<key>DATABASE_URL</key>
	<string>https://korean-history-quiz-100.firebaseio.com</string>
</dict>
</plist>